.navbar {
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar__logo {
  flex: 1;
  margin-left: 20px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}
.menu_list {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu_item {
  margin-right: 20px;
}
.list-none {
  list-style: none;
}
